@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.FlashcardWrapper__item--content h1 {
    font-size: 2em;
}

.FlashcardWrapper__item--content p {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
}

.FlashcardWrapper__item--content {
    background-color: rgba(238, 144, 222, 0.2);

}

.flashcard-container {
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}

.flashcard-container h3 {
    margin-bottom: 30px;
}